:root {
  --primary: #5fcf86;
  --primary10: #5fcf861a;
  --primary20: #5fcf8633;
  --primary40: #5fcf8666;
  --primary60: #5fcf8699;
  --on-primary: #ffffff;
  --text: #000000;
  --backdrop: #04040499;
  --border: #d8dae5;
  --disabled: #cccccc;
  --on-disabled: #888888;
  --background: #f6f6f6;
  --surface: #0000000d;

  --red: #ff3333;
  --yellow: #ffc634;
  --black: #000000;
  --black5: #0000000d;
  --black10: #0000001a;
  --black20: #00000033;
  --black40: #00000066;
  --black60: #00000099;
  --black70: #000000b3;
  --white: #ffffff;

  --primary-font: 'Inter', sans-serif;

  --z-index-header: 10;
  --z-index-filter: 10;
  --z-index-modal: 21;
  --z-index-backdrop: 20;
  --z-index-popover: 15;

  --transition-fast: 250ms;

  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.row_header {
  background-color: #0b86c9;
}

.nav_sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column !important;
  list-style: none;
  padding-left: 0;
}

.header_content {
  color: white;
  margin-left: auto;
  display: block;
  border-left: 1px solid white;
  padding: 20px 0px 20px 10px;
}

li {
  display: list-item;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.nav_link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  display: block;
  text-decoration: none;
  color: black;
}
.chang_color_admin {
  background-color: #ffb751;
  color: white;
  font-weight: 700;
  border: transparent;
}
.chang_color_admin .sidebar_icon {
  border: transparent;
}
.header_title {
  color: white;
}
.nav_link:hover {
  color: black;
  background-color: #fff;
  font-weight: 700;
  border-right: 3px solid rgb(108, 149, 255);
}
.nav_sidebar i {
  font-size: 1.2rem;
}

.sidebar_icon {
  border: 0.5px solid #bebebe;
  width: 100%;
  padding-left: 15px;
  display: block;
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
}

.side_item3 {
  border-top-color: transparent;
}

.sidebar_wrap {
  position: fixed;
  top: 63px;
  left: 0px;
  bottom: 0px;
  right: 25%;
  /* background-color: red; */
  padding: 0px;
  border: 1px solid #ddd;
  border-top: transparent;
}

.login .grap {
  margin: auto;
  width: 400px;
  /* height: 250px; */
}
.login .grap_input {
  /* height: 200px; */
  background-color: #f0f0f0;
  /* height: auto; */
}
.login form {
  margin: auto;
}

.login .title {
  color: white;
  height: 50px;
  background-color: #3398cc;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  line-height: 50px;
}
.input_email,
.login .input_pass {
  height: 50px;
  width: 350px;
  font-size: 15px;
  margin-top: 20px;
}
.login .grap_pass {
  text-align: center;
}
.login .grap_email {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.login .grap_button {
  text-align: center;
}
.login .button_model {
  height: 50px;
  width: 350px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #3398cc;
  border-color: transparent;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
.login body {
  background-color: #556676;
  display: flex;
  height: 600px;
}
.login .message {
  width: 100%;
  padding: 10px 0px 0px 20px;
  color: red;
}
.login .grap_input {
  padding: 20px 0px;
}

.login #form_selector {
  position: fixed;
  inset: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #556676;
}
